ovos-plugin-manager~=0.0, >=0.0.23a5
ovos-bus-client~=0.0, >=0.0.3a10
ovos-utils~=0.0, >=0.0.31a3
ovos_workshop~=0.0, >=0.0.12a3

ovos_audio_plugin_simple
ovos-ocp-files-plugin~=0.13
padacioso~=0.1, >=0.1.1
dbus-next

