ovos-ocp-youtube-plugin>=0.0.1, < 1.0.0
ovos-ocp-rss-plugin>=0.0.2, < 1.0.0
ovos-ocp-m3u-plugin>=0.0.1, < 1.0.0
ovos-ocp-news-plugin>=0.0.3, < 1.0.0
ovos_audio_plugin_simple>=0.0.1, < 1.0.0
ovos-ocp-files-plugin~=0.13