ovos-plugin-manager >= 0.0.22, < 0.1.0
ovos-bus-client>=0.0.3, < 0.1.0
ovos-utils>=0.0.32, < 0.1.0
ovos_workshop >=0.0.11, < 0.1.0

ovos_audio_plugin_simple
ovos-ocp-files-plugin~=0.13
padacioso~=0.1, >=0.1.1
dbus-next

