ovos-plugin-manager >= 0.0.24a5, < 0.1.0
ovos-bus-client>=0.0.5, < 0.1.0
ovos-utils>=0.0.35a8, < 0.1.0
ovos_workshop >=0.0.12a44, < 0.1.0
ovos_audio_plugin_simple>=0.0.2a3, < 0.1.0
ovos-ocp-files-plugin~=0.13
padacioso~=0.2, >=0.1.1
dbus-next
